@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}

    <h2>Employee List</h2>

    <div class="row">

        @foreach (var employee in Model)
        {
            var photoPath = "~/img/" + (employee.PhotoPath ?? "img_avatar1.png");

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@employee.Name</h4>
                    <p class="card-text">@employee.Name is in the @employee.Department Department.</p>

                </div>

                <div class="card-footer">
                    <a asp-controller="home" asp-action="details" 
                       asp-route-id="@employee.Id" class="btn btn-primary m-1">View</a>

                    <a asp-controller="home" asp-action="edit"
                       asp-route-id="@employee.Id" class="btn btn-warning m-1">Edit</a>

                    <a asp-controller="home" asp-action="details" 
                       asp-route-id="@employee.Id" class="btn btn-dark m-1">Delete</a>

                </div>

            </div>
        </div>

        }
    </div>